*{
    font-family: cursive;
    margin: 0;
}
nav{
    width: 100%;
    height: 4rem;
    background-color: gold;
    display: flex;
    position: relative;
}
nav a{
    font-size: 20px;
    color: #183a1d;
    margin-left: 20px;
    text-decoration: none;
}
nav #a1{
    margin-left: 950px;
}
nav #search{
    margin-left: 25px;
    background-color: #fefbe9;
    border: none;
}
nav button{margin-left: 0;}
body{
    margin: 0;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #fefbe9;
    font-family: cursive;
    position: relative;
}
.content{
    width: 100%;
    height: 225px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 70px 25px 25px 25px;
    background-color: #e1eedd;
    color: #183a1d;
}
.heading{
    width: 300px;
    height: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    border: none;
    margin: 10px 25px 10px 30px;
    transition: 1s;
}
.heading:hover{
    box-shadow: 2px 2px 5px black;
}
#sliders-container{
    position:relative;
    width: 325px;
    height: 325px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin: 10px 10px 10px 20px;
    box-shadow: 2px 2px 5px green;
    transition: 1s;
}
#sliders-container:hover{
    box-shadow: 4px 4px 10px black;
}
.btn-h{
    width: 300px;
    height: 50px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    background-color: #183a1d;
    color: white;
}
.heading2{
    width: 250px;
    height: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    border: none;
    margin: 10px 20px 10px 20px;
    transition: 1s;
}
.btn-h2{
    width: 250px;
    height: 50px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    background-color: #183a1d;
    color: white;
}
#sliders-container2{
    position:relative;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin: 10px 10px 10px 20px;
    box-shadow: 2px 2px 5px green;
    transition: 1s;
}
#sliders-container2:hover{
    box-shadow: 4px 4px 10px black;
}
.img{
    width: 325px;
    height: 325px;
}
.img2{
    width: 325px;
    height: 325px;
}
.imgm{
    width: 162px;
    height: 325px;
}
.imgA{
    width: 250px;
    height: 350px;
}
.image-container{
    display: flex;
    animation: animate 30s linear infinite ;
}
.img-container{
    display: flex;
    animation: animate 30s linear infinite ;
}
button.left-btn{
    left: 10px;
    position: absolute;
    top: 50%;
    font-size: 20px;
    opacity: .5;
    color: black;
    border-radius: 5px;
}
button.right-btn{
    right: 10px;
    position: absolute;
    top: 50%;
    font-size: 20px;
    opacity: .5;
    color: black;
    border-radius: 5px;
}
button.left-btn2{
    left: 5px;
    position: absolute;
    top: 65%;
    font-size: 20px;
    opacity: .5;
    color: black;
    border-radius: 5px;
}
button.right-btn2{
    right: 5px;
    position: absolute;
    top: 65%;
    font-size: 20px;
    opacity: .5;
    color: black;
    border-radius: 5px;
}
button:hover{
    opacity: 1;
    cursor: pointer;
    color: #183a1d;
    background-color: gold;
    box-shadow: 2px 2px 8px green;
}
#sliders-container2
{
    width: 250px;
    height: 350px;
    border: 1px solid gray;
    margin: 10px 20px 10px 20px;
    display: inline-block
}
.img-container2{
    width: 40px;
    height: 200px;
    border: 1px solid gray; 
    position: absolute;
}





#footer{
    height: 80px;
    width: 100%;
    background-color: #e1eedd;
}
#footer2{
    height: 225px;
    width: 100%;
    background-color: #e1eedd;
}
@keyframes animate{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-100%);
    }
    25%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(-200%);
    }
    35%{
        transform: translateX(-200%);
    }
    40%{
        transform: translateX(-300%);
    }
    45%{
        transform: translateX(-300%);
    }
    50%{
        transform: translateX(-400%);
    }
    60%{
        transform: translateX(-400%);
    }
    65%{
        transform: translateX(-500%);
    }
    70%{
        transform: translateX(-500%);
    }
    80%{
        transform: translateX(-600%);
    }
    85%{
        transform: translateX(-600%);
    }
    90%{
        transform: translateX(-700%);
    }
    95%{
        transform: translateX(-700%);
    }
    100%{
        transform: translateX(-800%);
    }

}